src/main/resources/points.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="point" type="pointType"/>
  <xs:complexType name="pointType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="country"/>
      <xs:element type="xs:string" name="sity"/>
      <xs:element type="xs:string" name="adress"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="phone"/>
      <xs:element type="xs:string" name="type"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>